# Server Configuration
PORT=3000
CORS_ORIGIN=your-frontend-url

# MongoDB
URL=mongodb+srv://your-username:your-password@cluster-url/database-name

# JWT
JWT_SECRET=your-jwt-secret-key

# Redis (optional, remove if not using
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_PASSWORD=your-redis-password

# ImageKit
IMAGEKIT_PUBLIC_KEY=your-imagekit-public-key
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-imagekit-id
